<h1>Artigos</h1>

<%= link_to "Novo artigo", new_article_path %>


<% @articles.each do|article|%>
	<h1><%= article.title %></h1>
	<p><%= article.text %></p>
	<%= link_to "Ver mais", article%>
	<%= link_to "editar", edit_article_path(article.id)%>
	<%= link_to "deletar", article_path(article.id), method: :delete, data: { confirm: 'Tem certeza?'}%>
	<br>

<% end %>